.fenlei{
	
	position: absolute;
	width: 100%;
	margin-top: 1.16rem
}
.leftsidebar_box{
	width:2.140625rem;
	background: #fff;
	float: left;
	overflow: auto;
    position: fixed;
    left: 0;
   	padding-top: 0.0625rem
}
.leftsidebar_box dl{
	border-bottom: 1px solid #e5e5e5;
}
.leftsidebar_box dt{
	padding-left:0.46875rem;
	background-repeat:no-repeat;
	background-position:10px center;
	color:#1b1b1b;
	font-size:0.4375rem;
	position:relative;
	line-height:1.5625rem;
	cursor:pointer;
}
.leftsidebar_box dd{
	background-color:#F8F8F8;
	padding-left:0.28125rem;
	height:1.5625rem;
	line-height: 1.5625rem; 
	color: #1b1b1b;
	font-size:0.375rem;
	display: none;
}
.leftsidebar_box dt img{
	position:absolute;
	left:0.15625rem;
	top:0.6875rem; 
	width: 0.21875rem; 
	height: 0.09375rem;
}
.leftsidebar_box .checked{
	background: #fff;
}




.fenlei-content{
	float: right;
	width: 7.84rem;
    background: #fff;
    margin-bottom: 1.40625rem;
}
.fenlei-content-title{
	margin-right: 0.28125rem;
	padding: 0.734375rem 0 0.3125rem 0;
	border-bottom: 1px solid #e5e5e5;
}
.fenlei-content-title p{
	font-size: 0.4375rem;
	padding-left: 0.46875rem;
	background: url(/imgs/fenlei/fenlei-tiao.png?t=20161117) no-repeat 0.15625rem center;
	background-size: 0.078125rem 0.4375rem;
}
.fenlei-content-list>p{
	margin: 0.4375rem 0 0.171875rem 0;
	font-family:PingFangSC-Regular;
	font-size:0.34375rem;
	color:#4a4a4a;
	line-height:0.4375rem;
	padding-left: 0.15625rem
}
.fenlei-content-list ul{
	padding: 0 0.375rem 0 0.34375rem;
	background: #fff
}
.fenlei-content-list ul li{
	padding: 0.453125rem 0;
	border-bottom: 2px solid #eeeeee;
	font-size: 0.3125rem;
	position: relative;
}
.fenlei-content-list ul li:last-child{
	border-bottom: 0
}
.fenlei-content-list ul li .product{
	float: left;
}
.fenlei-content-list ul li img{
	float: left;
	width: 2.34375rem;
	height: 2.34375rem;
	margin: 0 0.3125rem 0 0.15625rem;
}
.fenlei-content-list ul li p{
	float: left;
	width: 4.03125rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap; 
}
.fenlei-content-list ul li p:first-of-type{
	font-family:PingFangSC-Medium;
	font-size:0.375rem;
	color:#4a4a4a;
	line-height:0.40625rem;
	font-weight: bold;
}
.fenlei-content-list ul li p:nth-of-type(2){
	font-family:PingFangSC-Regular;
	font-size:0.3125rem;
	color:#9b9b9b;
	line-height: 0.34375rem;
	margin-top: 0.125rem;
}
.fenlei-content-list ul li p:nth-of-type(3){
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#fa2f3e;
	margin-top: 0.28125rem
}
.fenlei-content-list ul li p:nth-of-type(3) span{
	font-family:PingFangSC-Medium;
	font-size:0.5rem;
	color:#fa2f3e;
	font-weight: bold;
}
.fenlei-content-list ul li p:nth-of-type(4){
	font-family:PingFangSC-Regular;
	font-size:0.3125rem;
	color:#9b9b9b;
	margin-top: 0.28125rem
}
.fenlei-content-list ul li p:nth-of-type(4) span{
	color:#fa2f3e;
}
.fenlei-content-list .num{
	position: absolute;
	right: 0;
	bottom: 0.453125rem;
	height: 0.65625rem;
	width: 0.65625rem;
	background: url(/imgs/fenlei/fenlei-jia.png?t=20161117) no-repeat;
	background-size: 100%;
}

.fenlei-content-list .num input{
	width: 1.0rem;
	text-align: center;
	border:0;
	outline: none;
	height: 0.625rem;
	float: left;
	display: none;
	background: #fff;
	color: #000;
}
.fenlei-content-list .num span{
	display: block;
	
}
.fenlei-content-list .num .num-left{
	float: left;
	width: 0.640625rem;
	height: 0.625rem;
	background: url(/imgs/fenlei/fenlei-jian.png?t=20161117) no-repeat;
	background-size: 100%;
	display: none;
}
.fenlei-content-list .num .num-right{
	float: right;
	width: 0.703125rem;
	height: 0.625rem;
	background: url(/imgs/fenlei/fenlei-jia.png?t=20161117) no-repeat;
	background-size: 100%;
}

.leftsidebar_box li{
	height: 0.625rem;
	padding: 0.453125rem 0 0.484375rem 0;
	background: #eee;
	margin-bottom: 0.03125rem;
	line-height: 0.625rem;
	font-family:PingFangSC-Medium;
	font-size:0.375rem;
	color:#4a4a4a;	
}
.leftsidebar_box li p{
	font-size: 0.34375rem;
	text-align: center;
}
.leftsidebar_box .menu_chioce{
	background: #fff
}
.leftsidebar_box .menu_chioce p{
	font-family:PingFangSC-Medium;
	color:#c7a994;
	background: url(../../imgs/fenlei/line.png) no-repeat left center;
	background-size: 0.133333rem 0.8rem
}

.content>a{
	display: block;
	width: 7.36rem;
	height: 3.186667rem;
	margin: 0 auto;
	padding: 0.253333rem 0
}
.content>a img{
	display: block;
}
.content ul{
	padding: 0.693333rem 0.733333rem 0 
}
.content ul li{
	float: left;
	width: 1.44rem;
	margin :0 1.0rem 0.586667rem 0
}
.content ul li:nth-of-type(3n){
	margin-right: 0
}
.content ul li img{
	width: 1.44rem;
	height: 1.44rem;
	margin-bottom: 0.106667rem
}
.content ul li p{
	font-family:PingFangSC-Regular;
	font-size:0.266667rem;
	color:#4a4a4a;
	text-align: center;
	line-height: 0.373333rem;
}
.search{
	padding: 0.2rem 0;
    height: 0.76rem;
   position: fixed;
   width: 100%;
   left: 0;
   background: #c7a994;
   z-index: 5
}
.search p{
	width: 9.186667rem;
	display: block;
	text-align: center;
	margin: 0 auto;
	font-family:PingFangSC-Regular;
	font-size:0.373333rem;
	color:#9b9b9b;
	background: #fff;
	line-height: 0.76rem;
	border-radius:0.078rem;
}
.search p span{
	background: #fff url(../../imgs/search/search.png) no-repeat center center;
    background-size: 0.386667rem 0.4rem;
    margin-right: 0.146667rem
}