.lazy{
	line-height: 0;
	margin-top: -0.03125rem;
}
.zhuanti-top{
	background: #fff;
	padding: 0.78125rem 0.3125rem;
}

.choice{
	margin-bottom: 0.78125rem
}
.choice ul{
	display: inline-block;
    position: relative;
    top: 0.203125rem;
}
.choice ul span{
	float: left;
	font-weight: bold;
	line-height: 0.546875rem;
	margin-bottom: 0.25rem;
	font-size: 0.3125rem;
	border: 1px solid #fff;
	margin-right: 0.15625rem
}
.choice ul .xuanze{
	border: 1px solid #FF2D3F;
	color: #fff;
	background: #FF2D3F
}
.choice ul li{
	float: left;
    font-size: 0.3125rem;
    font-weight: normal;
    margin:0 0.15625rem 0.25rem 0;
    padding:0 0.3125rem;
    border: 1px solid #B3B3B3;
    height: 0.546875rem;
    line-height: 0.546875rem;
    color: #B3B3B3;
    border-radius: 0.0625rem
}
.price{
	font-size: 0.5rem;
	font-weight: bold;
	color: #FF324E;
	float: left;
	line-height: 0.859375rem;
}
.price span{
	font-size: 0.5625rem;
}
.buy{
	float: right;
	width: 2.8125rem;
	height: 0.859375rem;
	line-height: 0.859375rem;
	background: #FF9E26;
	color: #fff;
	text-align: center;
	font-size: 0.4375rem;
	border-radius: 0.078125rem
}
.nut-list{
	line-height: 0;
	position: relative;
	background: #fff
}
.nut-list a{
	display: block;
}
.nut-list a h2{
	font-size: 0.484375rem;
	line-height: 0.534375rem;
	color: #000;
	padding:0.625rem 0 0.859375rem 0.46875rem;
	font-family: PingFangSC-Regular;
}
.nut-list a h2>span{
	color: #ff485f;
	margin-left: 0.234375rem;
	font-size: 0.484375rem;
	line-height: 0.5rem;
	display: inline-block;
	letter-spacing: 0.03125rem;
	font-family: PingFangSC-Medium;
}
.nut-list a h2>span span{
	font-size: 0.3125rem
}
.nut-list i{
	font-style: normal;
}
.nut-buy{
	width: 1.0625rem;
	height: 1.0625rem;
	position: absolute;
	right: 0.203125rem;
    bottom: 0.1875rem;
	text-align: center;
	line-height: 1.0625rem
}
.nut-buy img{
	width: 0.796875rem;
	height: 0.796875rem;
	vertical-align: middle;
}

.subject img,.subject a{
	display: block;
}
.subject ul{
	background: #fff;
	margin-top: 0.28125rem;
	padding: 0 0.234375rem
}
.subject ul li{
	float:left;
	width: 4.625rem;
	height: 6.875rem;
	margin:0 0.28125rem 0.46875rem 0
}
.subject ul li:nth-of-type(even){
	margin-right: 0
}
.feature{
	margin-bottom: 1.328125rem
}
.feature>img{
	display: block;
	margin-bottom: 0.28125rem
}
.feature .list{
	padding-top: 0.15625rem
}
.feature .list a{
	display: block;
	margin-bottom: 0.3125rem
}
.feature .title{
	height: 2.0rem;
	text-align: center;
	background: #fff;
	margin-bottom: 0.28125rem
}
.feature .title h2{
	font-family:PingFangSC-Medium;
	font-size:0.453125rem;
	color:#4a4a4a;
	padding-top: 0.53125rem;
	margin-bottom: 0.203125rem;
	font-weight: bold;
}
.feature .title p{
	font-family:PingFangSC-Regular;
	font-size:0.28125rem;
	color:#9b9b9b;
}
.feature #masonry{
	padding: 0;
	position: relative;
}
.feature #masonry li{
	width:49.375%;
	margin:0 0 0.125rem 0; 
	padding-bottom: 0.140625rem;
	height: auto;
	background: #fff;
	float: left; 
}
.feature #masonry li>a{
	display: block;
}
.feature #masonry li img{
	height: 4.9375rem;
}
.feature #masonry li div{
	padding: 0 0.203125rem
}
.feature #masonry li h2{
	font-family: PingFangSC-Regular;
    font-size: 0.375rem;
    color: #4a4a4a;
    line-height: 0.515625rem;
    margin-top: 0.1875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
.feature #masonry li p{
	font-family: PingFangSC-Light;
    font-size: 0.3125rem;
    color: #8d8d8d;
    margin-top: 0.09375rem;
    line-height: 0.4375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.feature #masonry li h3{
	font-family: PingFangSC-Regular;
    font-size: 0.46875rem;
    color: #ad302c;
    line-height: 0.65625rem;
    margin-top: 0.15625rem;
}
.feature #masonry li h3 span{
	float: right;
    font-family: PingFangSC-Regular;
    font-size: 0.3125rem;
    color: #9b9b9b;
}
.feature #masonry li h3 span b{
	font-weight: normal;
	color:#ad302c;
}
.feature-nav{
	width: 100%;
    background: #fff;
    overflow: hidden;
}
.feature-nav ul{
    height: .828125rem;
    padding: 0 .34375rem;
}
.feature-nav ul li{
	float: left;
    height: .828125rem;
    line-height: .828125rem;
    width: auto;
    margin-right: .46875rem;
}
.feature-nav ul .menu_chioce{
	background: url(/imgs/line-zong.png) no-repeat center bottom;
    background-size: 60% .0625rem;
}
.feature-nav ul li a{
	font-family: PingFangSC-Regular;
    font-size: .375rem;
    color: #4a4a4a;
    line-height: .78125rem;
    display: inline-block;
    padding: 0 .21875rem;
}
.feature-nav ul .menu_chioce a{
	color: #d4aa70;
}