
.order .order-top{
	position: fixed;
	top: 1.25rem;
	background: #fff;
	height: 1.40625rem;
	width: 100%;
    z-index: 5
}
.order .order-top a{
	float: left;
	height: 1.40625rem;
	line-height: 1.40625rem;
	width: 17%;
    text-align: center;
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#4a4a4a;
	position: relative;
}
.order .order-top a:first-child{
	width: 14%;
}
.order .order-top .checked{
	color:#c7a994;
	background: url(/imgs/order/line.png) no-repeat left bottom;
	background-size: 100% 0.0625rem
}
.order .order-top a span{
	display: inline-block;
	min-width: 0.34375rem;
	height: 0.34375rem;
	position: absolute;
	top: 0.328125rem;
	right:0;
	background:#fa2f3e;
	z-index: 1;
	line-height: 0.34375rem;
	text-align: center;
	color: #fff;
	border-radius: 100%;
	font-family:PingFangSC-Regular;
	font-size:0.3125rem;
}
.order-list{
	margin-top: 2.93333rem;
}
.order .order-content{
	margin-top: 0.28125rem;
}
.order .order-number{
	height: 1.40625rem;
	padding: 0.25rem 0.34375rem  0  0.34375rem;
	background: #fff;
	margin-bottom: 0.046875rem;
	box-sizing: border-box;
}
.order .order-number p{
	font-family:PingFangSC-Regular;
	font-size: .32rem;
	color:#4a4a4a;
	font-weight: bold;
}
.order .order-number span{
	float: right;
	font-family: PingFangSC-Regular;
	font-size: .32rem;
	color: #C84647;
}


.order .order-content ul{
	position: relative;
	border-bottom: 1px solid #eee;
}
.order .order-content ul .title{
	width: 100%;
	height: 1rem;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.order .order-content ul .title p{
	padding-top: .35rem;
}

.order .order-content ul .fahuo-time{
   	text-align: right;
   	padding-right: 0.34375rem;
	box-sizing: border-box;
	position: absolute;
	top: .38rem;
	right: 0;
}
.order .order-number+ul .title{
	height: .26667rem;
	background: #fff;
	position:absolute;
	top: -.65rem;
	border: none;
}

.order .order-number+ul .title p{
	padding-top: 0;
}

.order .order-number+ul .fahuo-time{
	position: absolute;
    background: #fff;
    right: 0.34375rem;
	top: -.65rem;
	padding: 0;
}
.order .order-content ul .fahuo-time p{
	font-family: PingFangSC-Regular;
	font-size: .266667rem;
	color: #8D8D8D;
}
.order .order-content ul .fahuo-time a{
    display: block;
    width: 3.125rem;
    height: 0.3125rem;
    position: absolute;
    right: -0.234375rem;
    top: 0;
    background: url(/imgs/gouwuche/jiantou.png) no-repeat right center;
    background-size: 0.15625rem 0.3125rem;
}
.order .order-content ul .title a{
	display: inline-block;
	width:5.3125rem ;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap; 
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#4a4a4a;
	line-height: 0.421875rem;
	padding-top: 0.5rem;
	margin-bottom: 0.25rem
}
.loading-bar{
	height: .6rem;
	line-height: .6rem;
	background: #eee;
	color: #333333;
	font-size: .186667rem;
	text-align: center;
}
.order .order-content ul .title span{
	font-family: PingFangSC-Regular;
	font-size: .266667rem;
	color: #8D8D8D;
}
.order .order-content ul .title p{
	background-size: 0.4375rem 0.40625rem;
	padding-left: .34375rem;
}
.order .order-content ul li{
	padding:0.328125rem 0.375rem;
	height: 3.125rem;
	background: #fff
}
.order .order-content ul li img{
	width: 3.125rem;
	height: 3.125rem;
	margin-right: 0.46875rem;
	float: left;
}
.order .order-content ul li>div{
	float: left;
	width: 5.65625rem;
	height: 3.125rem;
	position: relative;
}
.order .order-content ul li h3{
	font-family:PingFangSC-Medium;
	font-size:0.375rem;
	color:#4a4a4a;
	height: 0.625rem;
	line-height: 0.625rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight: bold;
	margin-bottom: 0.03125rem
}
.order .order-content ul li p{
	font-family:PingFangSC-Regular;
	font-size:0.3125rem;
	color:#9b9b9b;
}
.order .order-content ul li b{
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#fa2f3e;
	margin-top: 0.4375rem;
	display: block;
	font-weight: normal;
	width: 3.125rem;
    float: left;
}
.order .order-content ul li b span{
	font-size:32px;
}
.order .order-content ul li>div>span{
	width: 1.375rem;
	text-align: right;
	display: block;
	float: right;
	margin-top: 0.46875rem;
	font-family:PingFangSC-Medium;
	font-size:0.375rem;
	color:#4a4a4a;
}
.order .order-content ul .wuliu{
	display: block;
    line-height: 0.71875rem;
    text-align: center;
    background: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 0.0625rem;
    width: 1.84375rem;
    height: 0.71875rem;
    position: absolute;
    bottom: 0.328125rem;
    right: 0.34375rem;
    font-family: PingFangSC-Regular;
    font-size: 0.375rem;
    color: #9b9b9b;
    margin: 0;
    float: none;
}
.order .order-payment{
	height: 1.40625rem;
	padding-left: 0.375rem;
	background: #fff
} 
.order .order-payment p{
	padding-top: 0.515625rem;
	float:left;
	width: 3.125rem;
	margin-right: 1.46875rem
}
.order .order-payment p span{
	color:#fa2f3e;
}
.order-cancel{
	width: 1.84375rem;
    height: 0.78125rem;
    display: block;
    float: right;
    margin: 8px 0;
    line-height: 0.78125rem;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 0.09375rem;
    margin-right: 0.3125rem;
    font-size: 0.375rem;
    color: #1b1b1b;
}
.order .order-payment a{
	width: 1.84375rem;
    height: 0.734375rem;
    display: block;
    float: right;
    line-height: 0.734375rem;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 0.09375rem;
    margin-right: 0.3125rem;
    font-size: 0.375rem;
    margin-top: 0.34375rem;
    color: #9b9b9b;
}

.order .order-payment .order-confirm{
	border-color: #fa2f3e;
    color: #fa2f3e;
}
.xiugaishijian{
	width: 6.875rem;
    background: #fff;
    position: fixed;
    top: 4.0625rem;
    left: 50%;
    margin-left: -3.4375rem;
    border-radius: 0.15625rem;
    display: none;
	z-index: 99;
}
.xiugaishijian p{
	height: 1.09375rem;
    line-height: 1.09375rem;
    text-align: center;
    border-bottom: 0.015625rem solid #e5e5e5;
}
.xiugaishijian input{
    width: 4.0625rem;
    display: block;
    border: 0;
    padding-left: 0.625rem;
    height: 0.9375rem;
    outline: none;
    line-height: 0.9375rem;
    position: absolute;
    left: 1.09375rem;
    z-index: 99;
    top: 1.5625rem;
	opacity: 0;
}
.xiugaishijian b{
	font-size: 0.375rem;
	width: 4.0625rem;
    font-weight: normal;
    display: block;
    border: 0;
    padding-left: 0.625rem;
    height: 0.9375rem;
    outline: none;
    line-height: 0.9375rem;
    position: absolute;
    left: 1.09375rem;
    z-index: 9;
    top: 1.5625rem;
    background: #F7F7F7 url(/imgs/muji/choice.png?t=20161117) no-repeat 4.0rem center;
    background-size: 0.359375rem 0.21875rem;
}
.xiugaishijian a{
	display: block;
	width: 2.5rem;
	height: 0.9375rem;
	background: #fa2f3e;
	text-align: center;
	font-size: 0.375rem;
	line-height: 0.9375rem;
	color: #fff;
	margin: 1.90625rem auto 0.46875rem;
	border-radius: 0.125rem
}
.chargeback .order-number{
	height: 1.96875rem;
	position: relative;
}
.chargeback .order-number p{
	background: url(/imgs/chargeback/icon3.png) no-repeat 0 0.5rem;
	background-size: 0.4375rem 0.4375rem;
	padding-left: 0.6875rem;
	line-height: 0.421875rem;
	padding-top: 0.515625rem
}
.chargeback .order-number p span{
	font-family:PingFangSC-Regular;
	font-size:0.3125rem;
	color:#9b9b9b;
	margin-top: 0.25rem;
	font-weight: normal;
	float: none;
	display:inline-block;
}
.chargeback .order-number a{
	position: absolute;
	right: 0.34375rem;
	top: 0.265625rem;
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#4a4a4a;
}
.chargeback .order-content ul .title{
	height: 1.40625rem;
}
.chargeback .order-content ul .title p{
	padding-left: 0.34375rem;
	background: none;
	line-height: 1.40625rem;
	height: 1.40625rem
}

.refrensh{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.666667rem;
	z-index: 999;
}

.refrensh img{
	width: 1.333333rem;
	height: 1.333333rem;
	margin-left: 43%;
	margin-top: 1.333333rem;
}
