.list .title{
	height: 1.34375rem;
	background: #fff;
	padding: 0 2.984375rem
}
.list .title p{
	font-family:PingFangSC-Medium;
	font-size:0.46875rem;
	color:#313131;
	font-weight: bold;
	text-align: center;
	line-height: 1.34375rem;
	background: url(/mobilerack/imgs/line.png) no-repeat center center;
	background-size: 100% 0.03125rem
}
.list .title p span{
	padding: 0 0.140625rem;
	background: #fff
}
.list ul{
	margin-top: 0.0625rem;
	background: #fff;
}
.list ul li{
	position: relative;
	overflow: hidden;
}
.list ul li>a{
	display: block;
	height: 0.46875rem;
	min-width: 0.5625rem;
	position: absolute;
	left: 0.3125rem;
	top: 50%;
	margin-top: -0.234375rem;
	font-family: Roboto-Regular;
    font-size: 0.40625rem;
    color: #cbcbcb;
    line-height: 0.46875rem;
    text-align: center;
}
.list ul li>a img{
	position:absolute;
	left: 0;
	bottom: 0 
}
.list ul li>div{
	width: 8.703125rem;
	float: right;
	border-bottom: 1px solid #eee;
	height: 2.96875rem;
}
.list ul li>div .userimg{
	height: 1.875rem;
	width: 1.875rem;
	position: relative;
	margin-top: 0.5rem;
	float: left;
}
.list ul li>div .userimg img{
	border-radius: 100%;
	overflow: hidden;
}
.list ul li>div .userimg a{
	display: block;
	background: url(/mobilerack/imgs/bg3.png) no-repeat;
    background-size: 100%;
	border-radius:0.0625rem;
	width:1.640625rem;
	height:0.484375rem;
	position: absolute;
	left: 0.109375rem;
	bottom: -0.046875rem;
	font-family: PingFangSC-Medium;
    font-size: 0.3125rem;
    color: #ffffff;
    line-height: 0.484375rem;
    text-align: center;
}
.list ul li>div .info{
	float: left;
	margin: 0.765625rem 0 0 0.28125rem;
}
.list ul li>div .info h3{
	float: left;
	font-size: 0.4375rem;
	color: #313131;
	font-family:PingFangSC-Regular;
	line-height: 0.53125rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-right: 0.65625rem;
	width: 2.1875rem
}
.list ul li>div .info a{
	float: left;
	display: block;
	background:#e2e2e2;
	border-radius:0.0625rem;
	width:2.875rem;
	height:0.53125rem;
	font-family: PingFangSC-Regular;
    font-size: 0.3125rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.53125rem;
}
.list ul li>div .info p{
	margin-top: 0.453125rem;
	font-family:PingFangSC-Regular;
	font-size:0.375rem;
	color:#8d8d8d;
}
.list ul li>div .info p span:first-of-type{
	padding-left: 0.515625rem;
	background: url(/mobilerack/imgs/icon1.png) no-repeat left bottom;
	background-size: 0.359375rem 0.375rem;
}
.list ul li>div .info p span:last-of-type{
	padding-left: 0.515625rem;
	background: url(/mobilerack/imgs/icon2.png) no-repeat left bottom;
	background-size: 0.40625rem 0.3125rem;
	margin-left: 0.640625rem
}