body{
	width: 100%;
	background: url(/crowdfunding/imgs/my-wish/rankinglist-bg.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.shibai{
	background: #FEECCC;
	height: 1.09375rem;
	line-height: 1.09375rem;
	padding: 0 0.3125rem;
}
.shibai p{
	color: #fa2f3e;
	font-size: 0.34375rem
}
.details .information{
	border-bottom: 0.04rem solid #EFEFEF;
	padding: 0.506667rem 0;
	position: relative;
}
.details .information>img{
	width: 2.16rem;
	height: 1.706667rem;
	position: absolute;
	top: 0.533333rem;
	right: 0
}
.details .receiving,.details .personal,.details .commodity,.details .balance{
	margin-top: 0.3125rem;
	background: #fff;
}
.details .information ul li{
	margin-bottom: 0.186667rem;
	overflow: hidden;
}
.details .information ul li p{
	color: #1b1b1b;
	font-size: 0.3125rem;
	overflow: hidden; 
}
.details .information ul li p a{
	width: 1.59375rem;
	margin-right: 0.1875rem;
	float: left;
	color: #999
}
.details .information ul li:last-child{
	border-bottom: 0;
}
.details .information ul li span{
	color:#DF9B38;
	float: left;
}
.details .personal{
	padding: 0.375rem 0.3125rem;
}
.details .personal p{
	margin-bottom:0.234375rem; 	
}
.details .personal-title{
	float: left;
	width: 1.96875rem;
}
.details .personal-content{
	float: left;
	width: 7.21875rem
}
.details .personal-content p span{
	float: right;
	letter-spacing: 0.03125rem;
}
.details .personal-content a{
	font-size: 0.3125rem;
	line-height: 0.40625rem;
}
.content #crowd-shoppingList{  
    padding: 0.52rem 0;
}
.content #crowd-shoppingList .business{
	height: 0.734375rem;
	line-height: 0.734375rem;
}
.content #crowd-shoppingList .business p{
	font-size: 0.3125rem;
	color: #999999;
	padding-left: 0.64rem;
	background: url(/imgs/gouwuche/gouwuche-dianpu.png) no-repeat left center;
	background-size: 0.4rem 0.4rem
}
.content #crowd-shoppingList .good-info{
	
	position: relative;
}
.content #crowd-shoppingList .good-info img{
	float: left;
	width: 1.706667rem;
	height: 1.706667rem;
	margin-right: 0.373333rem;
}
.content #crowd-shoppingList .good-info .title{
	float: left;
	width: 4.890625rem;
}
.content #crowd-shoppingList .good-info .title p{
	color: #1b1b1b;
	line-height: 0.5rem;
	font-size: 0.346667rem
}
.content #crowd-shoppingList .good-info .title span{
	font-size: 0.28125rem;
	color: #bcbcbc;
	margin-top: 0.1875rem;
	display: block;
}
.content #crowd-shoppingList .good-info .price{
	float: right;
}
.content #crowd-shoppingList .good-info .price p{
	line-height: 0.5rem;
	color: #1b1b1b;
	font-size: 0.3125rem
}
.content #crowd-shoppingList .good-info .yukuan{
	position: absolute;
	right: 0.3125rem;
	bottom: 0.3125rem;
}
.content #crowd-shoppingList .good-info .yukuan span{
	color: #fa2f3e;
}
.crowd-info{
	height: 1.36rem;
	position: relative;
	border-bottom: 0.04rem solid #EFEFEF;
	padding: 0.4rem 0 0.333333rem 0
}
.crowd-info .left{
	float: left;
}
.crowd-info .left img{
	width: 1.306667rem;
	height: 1.306667rem;
	border-radius: 1.306667rem;
	display: block;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	padding: 1px;
	background: #fff
}
.crowd-info .right{
	float: right;
    width: 6.953125rem;
    margin-top: 0.133333rem
}
.crowd-info .right p:first-child{
	font-size: 0.32rem;
	color: #1b1b1b;
}
.crowd-info .right p:first-child a{
	font-size: 0.36rem;
}
.crowd-info .right p:last-child{
	color: #fa2f3e;
	font-size: 0.3125rem;
	margin-top: 0.28125rem;
    line-height: 0.5rem;
}
.crowd-info .right p:first-child span{
	float: right;
	color: #999
}
.info{
	margin-top: 0.3125rem;
	background:#FEFBCD;
	padding: 0.3125rem;
	position: relative;
}
.info .left{
	width: 1.28125rem;
	float: left;
	text-align: center;
}
.info .left img{
	width: 1.03125rem;
	height: 1.03125rem;
	border-radius: 1.03125rem;
	display: block;
	margin: 0 auto 0.078125rem
}
.info .left p{
	font-size: 0.3125rem;
	color: #4a4a4a
}
.info .right{
	float: right;
	margin-left: 0.3125rem;
	width: 7.5rem;
}
.info .right p{
	line-height: 0.5rem;
}
.info .right span{
	font-size: 0.28125rem;
	color: #9e9e9e;
	position: absolute;
	bottom: 0.28125rem;
	right: 0.625rem;
}
.jindu{
    padding-bottom: 1.226667rem;
    border-bottom: 2px solid #e5e5e5;
}
.jindu-top{
	width: 3.373333rem;
	height: 1.306667rem;
	margin: -0.653333rem auto 0;
	border-radius: 0.266667rem;
	background: #fa2f3e;
	text-align: center;
}
.jindu-top h2{
	color: #fff;
	margin-bottom: 0.2rem;
	padding-top: 0.2rem;
	font-size: 0.373333rem
}
.jindu-top p{
	color: #9A9AA2;
	font-size: 0.293333rem
}
.jindu .shixianzhong{
	display: block;
    width: 4.421875rem;
    position: absolute;
    left: 2.8125rem;
}
.jindu .shixian{
	display: block;
	width: 4.65625rem;
	position: absolute;
	left: 2.671875rem
}
.jindu .weiwancheng{
	display: block;
	width: 4.40625rem;
    position: absolute;
    left: 2.8125rem
}
.jindu-title{
	height: 1.03125rem;
	line-height: 1.03125rem;
	text-align: center;
}
.jindu-title p{
	color: #fa2f3e;
}
.jindu-content .time{
	font-size: 0.3125rem;
	padding-top: 1.84375rem ;
    color: #fff;
    text-align: center;
}
.jindu-content .time span{
	float: right;
}
.jindu-content .time span a{
	color: #fa2f3e;
}
.jindu-content .jindutiao{
	height:0.16rem;
    background:#EFEFEF;
    border-radius: 0.125rem;
    margin-top: 0.72rem;
    width: 100%;
    overflow: hidden;
}
.jindu-content .jindutiao div{
	background: #fa2f3e;
	
	height: 0.16rem;
}
.jindu-content ul{
	overflow: hidden;
	width: 8.5625rem;
    margin-top:0.453333rem;
}
.jindu-content ul li{
	float: left;
	width: 33.3333%;
	text-align: center;
	height: 1.066667rem;
}
.jindu-content ul li:nth-child(2){
	background: url(/crowdfunding/imgs/my-wish/jiantou.png) no-repeat center 0.666667rem;
	background-size: 1.92rem 0.133333rem
}
.jindu-content ul li:nth-child(2) p{
	margin-top: 0.266667rem
}
.jindu-content ul li p{
	font-size: 0.32rem;
	color: #9C9C9C;
	text-align: center;
}
.jindu-content ul li p span{
	color: #fa2f3e;
	display: block;
	margin-top: 0.266667rem;
	font-size: 0.48rem;
	letter-spacing: 0.106667rem;
}

.zhichi{
	position: relative;
}
.zhichi-top{
	width: 3.373333rem;
	height: 1.306667rem;
	margin: -0.653333rem auto 0;
	border-radius: 0.266667rem;
	background: #EFEFEF;
	text-align: center;
}
.zhichi-top h2{
	color: #fa2f3e;
	margin-bottom: 0.2rem;
	padding-top: 0.2rem;
	font-size: 0.373333rem
}
.zhichi-top p{
	color: #9A9AA2;
	font-size: 0.293333rem
}
.zhichi ul{
	margin-top: 0.533333rem;
}
.zhichi ul li{
	height: 1.36rem;
	margin-bottom: 0.6rem
}
.zhichi ul li .left{
	float: left;
	margin-right:0.266667rem;
    width: 1.36rem;
    position: relative;
}
.zhichi ul li .left img{
	width: 1.306667rem;
	height: 1.306667rem;
	border-radius: 1.306667rem;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	padding: 1px;
	background: #fff;
}
.zhichi ul li .left .zc-icon{
	width: 0.666667rem;
	height: 0.666667rem;
	position: absolute;
	right: 0.026667rem;
	top: 0.026667rem;
}
.zhichi ul li .right{
	float: left;
	height: 1.484375rem;
	width:6.933333rem;
	position: relative;
}
.zhichi ul li .right img{
	position: absolute;
	width: 0.1875rem;
	height: 0.3125rem;
	left: -0.1875rem;
	top: 0.625rem;
}
.zhichi ul li .right .name{
	font-size: 0.3125rem;
	color: #4a4a4a;
	margin: 0.173333rem 0 0.4rem 0;
	overflow: hidden;
	height: 0.373333rem;
    line-height: 0.373333rem;
}
.zhichi ul li .right .name span{
	float: right;
	font-size: 0.346667rem;
	color: #1b1b1b;
}
.zhichi ul li .right .name span a{
	color: #fa2f3e
}
.zhichi ul li .right .liuyan{
	font-size: 0.293333rem;
	color: #9B9B9B;
	height: 0.32rem;
}
.zhichi ul li .right .liuyan span:first-child{
	display: inline-block;
	width: 5.6rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;

}
.nav .ziji,.nav .haoyou,.nav .zhifuyue,.nav .pingjia,.nav .shouhuo,.nav .zaici,.nav .order{
	float: right;
	width: 2.5rem;
	height: 1.09375rem;
	background: #fa2f3e;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 1.09375rem;
	font-size: 0.375rem;
	border-radius: 0.15625rem;
	margin-right:0.3125rem ;
	border:1px solid #fa2f3e;
}

.nav .zhifuyue,.nav .pingjia,.nav .shouhuo{
	width: 3.75rem;
}
.nav .zaici{

	color: #fa2f3e;
    background: #F1EDEE;
}
.tuikuan{
	font-size: 0.28125rem;
	color: #313131;
	text-decoration: underline;
	text-align: right;
	margin-top: 0.125rem;
	padding-right: 0.3125rem
}
.wuliu{
	height: 1.0625rem;
	line-height: 1.0625rem;
	padding:0 0.3125rem;
	background: #fff;
}
.wuliu p span{
	float: right;
	display: block;
	width: 0.203125rem;
	height: 1.0625rem;
	background: url(/crowdfunding/imgs/zhongchou-Arrow@2x.png?t=20161117) no-repeat center center;
	background-size: 0.203125rem 0.34375rem;
}
.jindu-title .yichenggong{
	background: url(/crowdfunding/imgs/zhongchou_chrnggongbeijing@2x.png?t=20161117) no-repeat 3.046875rem 0.1875rem;
	background-size: 3.203125rem 0.8125rem;
	color: #fff
}
.jindu-title .jieshu{
	color: #9e9e9e;
}
.crowdfunding-bottom,.crowdfunding-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.64rem
}
.crowdfunding-bottom a{
	display:inline-block;
	height: 1.76rem;
	width: 2.28rem;
	float: left;
	padding-top: 0.16rem;
}
.crowdfunding-footer a{
	display: block;
}
.crowdfunding-bottom .zaici,.crowdfunding-footer .zaici{
	margin-left: 0.234375rem;
	width: 2.906667rem;
	height: 2.013333rem;
	padding-top: 0;
}
.crowdfunding-bottom .kanjia{
	margin-left: 1.6rem  
}
.crowdfunding-bottom .bangmang{
	margin-left: 0.133333rem
}
.crowdfunding-footer .home{
	width: 1.906667rem;
	height: 1.76rem;
	float: left;
}
.crowdfunding-footer .zaici{
	float: right;
	margin-right: 0.266667rem
}
.payment{
	height:0.75rem;
	padding: 0.265625rem 0.3125rem;
	margin-top: 0.3125rem;
	background: #fff;
}
.payment>p{
	line-height: 0.75rem;
	float: left;
}
.payment .price{
	float: right;
}
.payment .price div{
	height: 0.75rem;
	border:1px solid #e5e5e5;
	border-radius: 0.125rem;
	float: left;
}
.payment .price p{
	float: right;
    line-height: 0.78125rem;
    color: #fa2f3e;
    margin-left: 0.234375rem;
}
.payment .price div a{
	display: block;
	float: left;
	width: 0.8125rem;
	height: 0.75rem;
}
.payment .price div .jian{
	background: url(/crowdfunding/imgs/bangTA-－@2x.png?t=20161117) no-repeat center;
	background-size: 0.296875rem 0.046875rem
}
.payment .price div .jia{
	background: url(/crowdfunding/imgs/bangTA-＋@2x.png?t=20161117) no-repeat center;
	background-size: 0.28125rem 0.28125rem
}
.payment .price div input{
	display: block;
	float: left;
	line-height: 0.75rem;
	text-align: center;
	width: 1.125rem;
	font-size: 0.40625rem;
	border:0;
	background: none;
	outline: none;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.liuyan1{
	margin-bottom: 1.25rem;
	background: #fff;
	padding: 0.15625rem 0.3125rem;
	border-top: 1px solid #e5e5e5
}
.liuyan1 input{
	background: #F1EDEE;
	border:0;
	outline: none;
	padding: 0 0.3125rem;
	border-radius: 0.125rem;
	height: 0.9375rem;
	width: 8.75rem
}
.share-btn,.payment-success{
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	z-index: 9
}
.share-btn img{
	width: 7.03125rem;
	position: absolute;
	right: 0.3125rem
}
.share-btn a{
	display: block;
	width: 3.125rem;
	height: 0.96875rem;
	background: #fa2f3e;
	color: #fff;
	line-height: 0.96875rem;
	text-align: center;
	border-radius: 0.15625rem;
	font-size: 0.4375rem;
	position: absolute;
	top: 2.03125rem;
	left: 50%;
	margin-left: -1.5625rem
}
.payment-success h2{
	color: #fff;
	font-size: 0.5rem;
	position: absolute;
	top: 1.25rem;
	left: 3.921875rem
}
.payment-success p{
	color: #fff;
	position: absolute;
	top: 2.0625rem;
	left: 2.265625rem
}
.payment-success img{
	width: 6.765625rem;
	height: 3.84375rem;
	position: absolute;
	right: 0.3125rem
}
.payment-success a{
	display: block;
	width: 3.125rem;
	height: 0.96875rem;
	background: #fa2f3e;
	color: #fff;
	line-height: 0.96875rem;
	text-align: center;
	border-radius: 0.15625rem;
	font-size: 0.4375rem;
	position: absolute;
	top: 4.0625rem;
	left: 50%;
	margin-left: -1.5625rem
}
.jianyi{
	color: #fff;
    font-size: 0.4375rem;
    position: fixed;
    top: 50%;
    left: 10%;
    width: 7.15625rem;
    margin-top: -0.625rem;
    text-align: center;
    display: none; 
    background: rgba(0,0,0,0.6);
    border-radius: 0.171875rem;
    line-height: 0.859375rem;
    padding: 0.46875rem;
}
.mycrowd-bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 2.506667rem
}
.mycrowd-bottom a{
	display: block;
	float: left;
	margin-bottom: 0.1875rem
}
.mycrowd-bottom a:nth-of-type(1){
	width: 1.906667rem;
	height: 1.76rem;
}
.mycrowd-bottom a:nth-of-type(2){
	width: 2.28rem;
	height: 1.76rem;
	margin-left: 3.2rem  
}
.mycrowd-bottom a:nth-of-type(3){
	width: 2.28rem;
	height: 1.76rem;  
	margin-left: 0.133333rem
}
#FontScroll{
	height:1.09375rem;
	line-height:1.09375rem;
	overflow:hidden;
	margin:0 auto;
	background: rgba(256,256,256,0.9);
	padding: 0 0.3125rem 0 0.533333rem;
	position: relative;
}
#FontScroll>span{
	position: absolute;
	color: #fa2f3e;
	padding-left: 0.78125rem;
	background: url(/crowdfunding/imgs/wish/wish-scroll.png) no-repeat left center;
	background-size: 0.5rem;
	font-size: 0.375rem;
	left: 0.359375rem;
	display: block;
	width: 0.5rem;
	height: 1.09375rem;
}
#FontScroll li{
	height: 1.09375rem;
	overflow: hidden;
}
#FontScroll li p{
	color: #fa2f3e;
	width: 8.484375rem;
	height: 1.09375rem;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
#FontScroll li p span{
	color: #9F9F9F
}
.coupon{
	background: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100;
}
.coupon-content{
	width: 9.046875rem;
	height: 14.65625rem;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -4.523438rem;
	margin-top: -7.328125rem
}
.coupon .close{
	display: block;
	width: 0.9375rem;
	height: 0.9375rem;
	position: absolute;
	right: 0;
	top: 0
}
.coupon .share{
	display: block;
	width: 6.75rem;
	height: 1.328125rem;
	position: absolute;
	left: 50%;
	margin-left: -3.375rem;
	bottom: 1.0rem
}
.coupon .couponlist{
	width: 6.734375rem;
	height: 5.8125rem;
	overflow: auto;
	margin: 5.6875rem auto 0
}
.coupon .couponlist li{
	height: 1.78125rem;
	margin-bottom: 0.15625rem;
	background: url(/imgs/activity/couponli1.jpg) no-repeat;
	background-size: 100%;
}
.coupon .couponlist li .left{
	float: left;
	width: 1.640625rem;
	height: 1.484375rem;
	margin: 0.15625rem 0 0 0.25rem;
	overflow: hidden;
}
.coupon .couponlist li .left p{
	font-size: 0.9375rem;
	color: #fff;
	line-height: 1.484375rem;
	height: 1.484375rem;
	text-align: center;
}
.coupon .couponlist li .left p span{
	font-size: 0.5rem;
}
.coupon .couponlist li .right{
	float: left;
	margin:0.3125rem 0 0 0.21875rem
}
.coupon .couponlist li .right p{
	margin-bottom: 0.15625rem;
	font-size: 0.25rem
}
.coupon .couponlist li .right p span{
	display: inline-block;
	width: 1.28125rem;
	color: #999
}

.content-top{
	width: 8.613333rem;
	margin: 0.4rem auto 0;
	border:1px solid #e5e5e5;
	border-radius: 0.266667rem;
	background: #fff;
	padding: 0 0.466667rem;
	box-shadow: 0 2px 2px #bbb; 
}
.content-bottom{
	width: 8.613333rem;
	margin: 0 auto;
	padding: 0 0.466667rem;
	border:1px solid #fa2f3e;
	border-radius: 0.266667rem;
	background: #fff;
	margin-top: 0.973333rem;
    box-shadow: 0 2px 2px #bbb;
}